body {
	background: #eee;
	font-family: sans-serif;
}

#wrapper {
	background: #fff;
	width: 1440px;
	margin: 20px auto;
}

#wrapper header {
	background: #0044F4;
	padding: 10px;
	font-size: 10px;
}

h1.keyto {
	float: center;
	padding-left: 150px;
	color: #fff;
}

img.logo {
	float: left;
	width: 110px;
	margin-top: -50px;
}

#wrapper header nav {
	float: right;
	margin-top: -10px;
	font-size: 15px;
}

#wrapper header nav ul {
	padding: 0;
	margin: 0;
}

#wrapper header nav ul li {
	float: left;
	list-style: none;
}

#wrapper header nav ul li a {
	padding: 15px;
	color: #fff;
	text-decoration: none;
}

.clear {
	clear: both;
}

footer {
	background: #000;
	height: 100px;
	padding: 20px;
}

footer h1 {
	float: center;
	margin-top: -10px;
	height: 20.8px;
	padding-left: 150px;
	font-size: x-large;
	color: #fff;
}

iframe {
	zoom: 1;
	float: left;
	width: 110px;
	height: 110px;
	margin-top: -10px;
	
}

img.logo_keyto {
    position: static;
	height: 20px;
	padding-left: -20px;
	margin-top: -40px;
    min-width: 100.17px;
    margin: -10.13px 0px 50.36px;
    
  } 

img.logo_hp {
    position: relative;
	float: left;
    width: 25px;
	height: 16px;
	padding-left: 85px;
    min-width: 24.17px;
    margin: 38px -50px 1px;
  }

  div.text_nohp {
	position: relative;
	margin-top: -20px;
	float: center;
	padding-left: 200px;
	font-size: 12px;
	color: #fff;
}

div.text_keyto {
	position: relative;
	margin-top: -60px;
	float: center;
	padding-left: 450px;
	font-size: 18px;
	color: #fff;
}

div.text_tentangkami {
	position: relative;
	margin-top: 2px;
	float: center;
	padding-left: 450px;
	font-size: 12px;
	color: #fff;
}

div.text_hubkami {
	position: relative;
	margin-top: 5px;
	float: center;
	padding-left: 450px;
	font-size: 12px;
	color: #fff;
}

div.text_faq {
	position: relative;
	margin-top: 7px;
	float: center;
	padding-left: 450px;
	font-size: 12px;
	color: #fff;
}
div.text_copyright {
	position: relative;
	margin-top: -5px;
	float: center;
	padding-left: 700px;
	font-size: 12px;
	color: #fff;
}

div.text_followus {
	position: relative;
	margin-top: -90px;
	float: center;
	padding-left: 1000px;
	font-size: 15px;
	color: #fff;
}

img.logo_email {
    position: relative;
    width: 25px;
	height: 16px;
	padding-left: 38px;
    min-width: 24.17px;
    margin: 15px 0px 15px;
  }

div.text_email {
	position: relative;
	margin-top: -35px;
	float: center;
	padding-left: 200px;
	font-size: 12px;
	color: #fff;
}

img.logo_fb {
	position: relative;
	width: 25px;
	height: 25px;
	margin-top: -40px;
	padding-left: 890px;
    min-width: 24.17px;
    margin: 5.13px 0px 13.36px;
}

img.logo_twitter {
	position: relative;
	width: 25px;
	height: 25px;
	margin-top: -39px;
	padding-left: 940px;
    min-width: 24.17px;
}

section {
	padding: 20px;
	color: #000;
	font-size: 15px;
}

section h1.judul {
	padding: 20px;
	color: #0044F4;
	font-size: 15px;
	zoom: 12;
}
